In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
data = pd.read_csv('C:/Users/User/Desktop/DS-Projects/NLP/Restaurant_Reviews.tsv', sep='\t', quoting=3)
# quoting parameter will avoid any issue related to double quotes in reviews text

In [5]:
data.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [6]:
#Data cleaning
import re # regular expression library
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
data['Review'][0] # first review
review = re.sub('[^a-zA-Z]',' ',data['Review'][0])
print(review)

Wow    Loved this place

In [15]:
# convert all the letters in lowercase
review = review.lower()
print(review)

wow    loved this place

In [16]:
#Removing the stopwords
review =review.split() # a single review is a string, words are not seperated
# to gothrough all the words, we have to split the words

In [20]:
# taking all the words in review except stop words
review = [word for word in review if not word in set(stopwords.words('english'))]

In [28]:
#Stemming
ps = PorterStemmer()
review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))] 
review = ' '.join(review)

In [33]:
#Apply text cleaning to all the reviews in dataset
# define an empty list
corpus = [] 
for i in range(0, 1000): 
  review = re.sub('[^a-zA-Z]',' ',data['Review'][i]) 
  review = review.lower() # convert all the letters in lowercase
  review =review.split() # a single review is a string, words are not seperated
  # to gothrough all the words, we have to split the words
  ps = PorterStemmer() # object of class PorterStemmer
  review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))] # taking all the words in review except stop words
  review = ' '.join(review)
  corpus.append(review)

In [ ]:
#Bag of Words model

# In Bag of Words model we will take all the words in 1000 reviews and here we will select unique words, no repeatition.
#then we will create one column to each unique word after that we will put all these columns in a table, where rows = 1000 reviews and columns = words

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1500) # keep 1500 most frequent words
x = cv.fit_transform(corpus).toarray() # convert x into matrix using toarray method

In [38]:
x.shape

(1000, 1500)

In [39]:
y = data.iloc[:, 1].values